/* letter style */
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Playwrite+DE+Grund:wght@100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Gowun+Batang:wght@400;700&family=Jacquarda+Bastarda+9&family=Playwrite+DE+Grund:wght@100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Jacquarda+Bastarda+9&family=Playwrite+DE+Grund:wght@100..400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');


/* General variables of colors */ 
:root{
    --fondo: #516d72;
    --blanvo: #fff;
    --Azul_detalles: #6AE5FB;
}

/* general style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--fondo);
    /*background: radial-gradient(circle, #516d72 0%, #516d72 75%, --blanvo 79%, --blanvo 100%);*/
    min-height: 100vh;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.container{
    width: 100%;
    position: relative;
}

/* ---------- Contadoooor ----------  */ 

.div-contador{
    position: relative;
    display: block;
}

.fecha{
    font-size: 35px;
}

.fecha span{
    font-weight: 600;
}

.Contador{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.grupo{
    line-height: 1;
    border: 6px double;
    width: 200px;
    height: 200px;
}

.grande{
    font-family: "Gowun Batang", serif;
    font-size: 9rem;
    font-weight: 600;
}

.chico{
    font-family: "Wittgenstein", system-ui;
    font-size: 20px;
}

@media (width < 578px){
    .Contador{
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}

@media (width < 290px){
    .Contador{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}


/* ------ Navagation Menu ------- */

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: #70797a;
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100 ;
    line-height: 90px;
}

.logo {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.nac-menu, .nav-menu-list { 
    display: flex;
}

.nav-menu, .nav-list{
    list-style: none;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--Azul_detalles);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}